
.tarea-details-small,
.worker-details-small {
  background: #fff;
  border-radius: 4px;
  margin: 15px auto;
  padding: 20px;
  position: relative;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.05);
}

.worker-details-small h4 {
  margin: 0 0 0 0;
  font-size: 1.2em;
  color: black;
  font-weight: bold;
}

.tarea-details-small p {
  margin: 0;
  font-size: 0.9em;
}

/* Responsive Styles */

.igualadorInterface {
  display: flex;
  flex-wrap: wrap; /* Allow items to wrap to the next line */
}

.igualadorInterface > .workers,
.igualadorInterface > .tareas,
.igualadorInterface > .buttons {
  flex: 1;
  padding: 5px;
  border: 5px solid #cccccc2f;
  text-align: center;
  user-select: none;
  overflow-y: auto;
  overflow-x: hidden;
  min-height: 100px; /* Set a minimum height for smaller screens */
  box-sizing: border-box; /* Ensure padding is included in width calculation */
}

/* Set a minimum width for .tarea-details-small */
.tarea-details-small {
  min-width: 200px;
}

.igualadorInterface > .workers {
  flex: 2; /* 20% of the screen */
}

.igualadorInterface > .tareas {
  flex: 5; /* 70% of the screen */
}

.igualadorInterface > .buttons {
  flex: 1; /* 10% of the screen */
  display: flex;
  flex-direction: column;
  align-items: center;
}

.buttons > .button-row {
  display: flex;
  justify-content: center;
  cursor: pointer;
  padding: 20px;
  position: relative;
  transition: background-color 0.3s ease;
}

.btn-square-md {
  width: 100px !important;
  max-width: 100% !important;
  max-height: 100% !important;
  height: 100px !important;
  text-align: center;
  padding: 0px;
  font-size: 12px;
}

.selected {
  border: 4px solid #198653 !important;
}

.disabled-div {
  pointer-events: none;
  opacity: 0.5;
  cursor: not-allowed;
  display: none !important;
}

.status-in-progress {
  background-color: lightyellow;
}

.status-paused {
  background-color: tomato;
}

.status-finished {
  background-color: green;
}

/* Media Query for Small Screens (e.g., Mobile Phones) */

@media (max-width: 1087px) {
  .igualadorInterface > .workers,
  .igualadorInterface > .tareas,
  .igualadorInterface > .buttons {
    flex: 1 0 100%; /* Take up 100% width on small screens */
  }
}